$font: black;
$primary-color: hsl(26, 100%, 55%);
$secondary-color: hsl(25, 100%, 94%);
$h1text-color: hsl(220, 13%, 13%);
$paragraph-color: hsl(223, 64%, 98%);
$btntext-color: hsl(0, 0%, 100%);
$neutral: hsl(0, 0%, 26%);
$font-stack: "Kumbh Sans", sans-serif;